.arrow {
    height: 5vw;
    width: 5vw;
    border: 3px solid #0075ff;
    transform: rotate(43deg);
}

.arrow:hover {
    transform: scale(1.1) rotate(45deg);
}

.arrow:active {
    transform: scale(1.2) rotate(45deg);
}

.arrow_left {
    border-top-color: transparent;
    border-right-color: transparent;
}